#my {

  &.detail #tabs {
    position: relative;
    width: 100% !important;

    input[type='radio'] {
      display: none;
    }

    label {
      transition: all .2s;
      float: left;
      margin: 10px 10px 0 0;
      padding: 0 25px;
      border: 1px solid #3330;
      border-radius: 25px;
      transition: all .1s;
      height: 50px;
      width: max-content;
      line-height: 50px;

      &:hover {
        color: #333;
        box-shadow: 0 0 15px #3331;
      }
    }

    input:checked+label {
      border-color: #3331;
      box-shadow: 0 0 15px #3333;
    }

    .tab {
      position: absolute;
      top: 120px;
      display: none;
      width: 100%;

      .mate,
      .today {
        margin: 20px 0 0 0;

        .today_con {
          margin: 0 2% 10px 0;

          &:nth-child(2n) {
            margin: 0 0 10px 0;
          }
        }

        .today_con .today_emotion {
          li:nth-child(1) span {
            color: #66CCAA;
            font-weight: 400;
            margin: 0;
          }

          li:nth-child(2) span {
            color: #FF6666;
          }
        }
      }
    }

    #tab1:checked~.tab1,
    #tab2:checked~.tab2,
    #tab3:checked~.tab3 {
      display: block;
    }
  }

  &.detail #team {
    .team {
      ul {
        display: block;
      }

      li {
        padding: 15px 25px 5px 15px;
        margin: 0 0 20px;
        width: 100%;

        a {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .more {
          margin: -45px 8px 0 0;
          color: #3337;
        }
      }

    }
  }
}